.login {
    padding-top: 100px;
}

.logo {
    background-color: #35363A;
}

.logo-area {
    padding-top: 20px;
    padding-bottom: 20px;
}

.dob {
    max-width: 200px
}

.btn-submit {
    padding-top:20px;
    padding-bottom: 20px;
}
