<div class="login">
  <div align="center">
    <!-- logo -->
    <div class="logo-area">
      <img class="logo" src="assets/logo-flat-horizonal.png" />
    </div>
    <div>
      <h2>Login</h2>
    </div>

    <div>
      <form [formGroup]="loginForm" (submit)="onSubmit()">
        <div class="col-md-4 mb-3">
          <label for="firstName">First name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
            placeholder="First Name"
            maxlength="56"
            minlength="1"
            required
          />
          <div
            *ngIf="
              loginForm.get('firstName').invalid &&
              (loginForm.get('firstName').dirty ||
                loginForm.get('firstName').touched)
            "
            class="alert alert-danger"
          >
            Required
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="lastName">Last name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
            placeholder="Last Name"
            maxlength="56"
            minlength="1"
            required
          />
          <div
            *ngIf="
              loginForm.get('lastName').invalid &&
              (loginForm.get('lastName').dirty ||
                loginForm.get('lastName').touched)
            "
            class="alert alert-danger"
          >
            Required
          </div>
        </div>
        <div class="dob">
          <label for="validationCustom03">Date of Birth</label>
          <div class="input-group dob">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              formControlName="dateOfBirth"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle()"
                type="button"
              ></button>
            </div>
          </div>
          <div
            *ngIf="
              loginForm.get('dateOfBirth').invalid &&
              (loginForm.get('dateOfBirth').dirty ||
                loginForm.get('dateOfBirth').touched)
            "
            class="alert alert-danger"
          >
            Incorrect Date
          </div>
        </div>
        <div class="btn-submit">
          <button type="submit" [disabled]="!loginForm.valid" class="btn-dark">
            Submit
          </button>
        </div>

        <div *ngIf="Submitted">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
